<html>
{%load static%}

<head>
    <link rel="stylesheet" href="{% static 'Home/CSS/Stylet.css'%}">
    <link href="{%static 'profile/css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{%static 'profile/css/all.css'%}" rel="stylesheet" />
    <link href="{%static 'profile/css/profile.css'%}" rel="stylesheet" />
    <link href="{%static 'profile/css/media.css'%}" rel="stylesheet" />
    <script src="{%static 'profile/js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{%static 'profile/css/Style.css' %}">
    <style>
        .custom-file-input {
            color: transparent;
          }
          .custom-file-input::-webkit-file-upload-button {
            
            display: none;
          }
          .custom-file-input::before {
            content: 'add image';
            color: black;
            display: inline-block;
            background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
            margin: -1px 78px;
          }
          .custom-file-input:active {
            outline: 0;
          }
          .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
          }
          #aa{
            position: absolute;
            right: 80px;
            top: 30px;
            font-size: 30px;
            font-weight: bold;
          }
    </style>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <header class="containerr">
        <div class="logo_cont">
            
                <div class="logo">
                <!-- <img src="{%static 'Home/imgs/6 2[Converted] 1.png' %}" alt=""> -->
                </div>
            <div class="logoh1">
                {%if rs%}
                <h1><a href="{%url 'patientlogin:home' rs%}"> Med</a></h1>
                <h2><a href="{%url 'patientlogin:home' rs%}">care</a></h2>
                {%else%}
                <h1><a href="{%url 'Home:Home' %}"> Med</a></h1>
                <h2><a href="{%url 'Home:Home' %}">care</a></h2>
                {%endif%}
            </div>
        </div>
        <div class="headlinks">
            <ul>
                {%if rs%}
                <li><a href="{%url 'patientlogin:home' rs%}" >Home</a></li>
                <li><a href="{% url 'patientlogin:cards' rs %}">Specialities</a></li>
                <li><a href="{%url 'ai:consult' rs%}">Consultation</a></li>
                {%else%}
                <li><a href="{%url 'Home:Home'%}"class="activated"> Home</a></li>
                <li><a href="{%url 'patientlogin:cardsUnRe'%}">Specialities</a></li>
                <li><a href="{%url 'ai:consultUN' %}">Consultation</a></li>
                {%endif%}
                
                {% if rs %}
                <li><a href="{%url 'reception:reception' rs%}" class="activated">Profile</a></li>
                {%else%}
                {%endif%}
                {% if rs %}
                <li><a href="{%url 'news:newsRE' rs%} ">News</a></li>
                {%else%}
                <li><a href="{%url 'news:news'%}">News</a></li>
                {%endif%}
                <li><a href="#">Hospital</a></li>
            </ul>
        </div>
        {% if rs %}
        <div class="btns-head proflink"><a href="{%url 'reception:reception' rs%}"><i class="fa-solid fa-user"></i></a></div>
        {%else%}
        <div class="btns-head">
            <div class="btn-signin btn">
                <a href="{%url 'logincards:sigin' %}"> <input type="button" class="btn-signup btn" value="Signin"></a>
            </div>
            <div class="btn-signup btn">
                <a href="{%url 'registeras:register' %}"> <input type="button" class="btn-signup btn" value="Signup"></a>
            </div>
        </div>
       {%endif%}
    </header>
    <div class="main row w-100">
        <div class="col-md-3 col-sm-6 sec-color section-1">
            <div class="p-2 mt-5 text-center">
                {%if data.image %}
                <img id="img-doc" src="{{data.image.url}}" alt="dr1" style="width: 150px;height: 150px;border-radius: 50%;">
                <h5 class="mt-3 text-color">Dr/{{data.name}}</h5>
                {%else%}
                <img id="img-doc" src="{%static 'specialtais/imgs/blankPro.jpg'%}" alt="dr1" style="width: 150px;height: 150px;border-radius: 50%;">
                <h5 class="mt-3 text-color">Dr/{{data.name}}</h5>
                <input type="file" name="cover" value="" class="custom-file-input">
                {%endif%}

            </div>
            <div class="p-2 mt-5 text-start">
                {%if medical == 'Clinic' or medical == 'Hospital' or medical  == 'clinic' or medical == 'hospital'%}
                    <a href="{%url 'reception:reception' rs%}" class="link-1">
                        <i class="fa-solid fa-house-chimney-user m-3 ms-5 icon-1"></i>reception
                    </a>
                    {%elif medical == 'patient'%}
                    <a href="{%url 'reception:reception' rs%}" class="link-1">
                        <i class="fa-solid fa-house-chimney-user m-3 ms-5 icon-1"></i>patient
                    </a>
                    {%endif%}

                     <br />
                    {%if medical  == 'Clinic' or medical == 'Hospital' or medical  == 'clinic' or medical == 'hospital' %}
                    <a href="{%url 'doctor_profile:profile' rs email_res%}" class="link-1">
                    <i class="fa-solid fa-user-doctor m-3 ms-5 icon-1"></i>profile doctor
                    </a>
                    <br />
                    {%else%}
                    {%endif%}
                <a href="{%url 'Home:Home'%}" class="link-1">
                    <i class="fa-solid fa-right-from-bracket m-3 ms-5 icon-1"></i>logout</a>
            </div>
        </div>
       
        {%if data %}
        <div class="col-md-9 container position-relative ">
            <img src="{%static 'profile/img/Rectangle 96.png' %}" class="w-100">
            {%if data.image %}
            <img id="img-doc" src="{{data.image.url}}" class="img-pro"  style="width: 150px;height: 150px;border-radius: 50%;">
            {%else%}
            <img id="img-doc" src="{%static 'specialtais/imgs/blankPro.jpg'%}" class="img-pro" alt="dr1" style="width: 150px;height: 150px;border-radius: 50%;">
            {%endif%}
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">

                        <input type="text" class="form-control iput-1" id="f-name" name="name" value=" {{data.name}} ">
                        <label class="label-1" for="f-name"><i class="fa-regular fa-user p-2"></i>Name</label>
                        <i class="fa-regular fa-pen-to-square icon-edit"></i>

                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="m-name" name="specialist" value="{{data.specialist}}">
                        <label class="label-1" for="m-name"><i class="fa-solid fa-user-doctor p-2"></i>  specialist</label>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="lname" name="location" value="  {{data.location}} ">
                        <label class="label-1" for="lname"><i class="fa-solid fa-location-dot p-2"></i> location</label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-12 int-1  ">
                    <div class="d-flex justify-content-center position-relative">

                        <input type="number" class="form-control iput-1" id="Mobile Number" name="price" value="{{data.price}}">
                        <label class="label-1" for="Mobile Number"><i class="fa-solid fa-dollar-sign p-2"></i>  price</label>
                        <i class="fa-regular fa-pen-to-square icon-edit"></i>

                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="number" class="form-control iput-1" id="address" name="years_of_experience" value="{{data.years_of_experience}}">
                        <label class="label-1" for="address"><i class="fa-solid fa-stethoscope p-2"></i>  years_of_experience</label>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="gender" name="gender" value="{{data.gender}}">
                        <label class="label-1" for="gender"><i class="fa-solid fa-venus-mars p-2"></i>gender</label>
                    </div>
                </div>
            </div>

            <div class="row  container ms-2 div-mar">
                <div class="photo-box  col-md-1 col-sm-0 m-0 me-0 ms-0 border-text position-relative">
                    <div class="i-about">
                        <i class="fa-solid fa-circle-exclamation"> About </i>
                    </div>
                    <div class="form-floating p-3">
                        <textarea class="form-control border-0 text-muted" placeholder="Leave a comment here" name="about" id="floatingTextarea2"  style="height: 220px"> {{data.about}} </textarea>
                    </div>


                </div>
                <div class="about-box col-md-1 col-sm-0 m-0  ms-0 border-img position-relative">
                    <div class="d-flex">
                        <div class="i-about">
                            <i class="fa-solid fa-image"> Photo </i>
                        </div>
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img rounded-2">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2">
                    </div>
                    <div class="d-flex">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img rounded-2 mt-4">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2 mt-4">
                        <div src="{%static 'profile/img/Rectangle 82.png' %}" class="add-plus  rounded-2 mt-4 d-flex justify-content-center align-items-center">
                            <button class="button-img"><i class="fa-solid fa-plus"></i></button>

                        </div>

                    </div>

        </div>

                 <div class="d-flex justify-content-end m-5">
            <input type="submit" name="update" id="" class="btn w-25 mt-5 button-1" value="update">

        </div>

           {% comment %} <input type="file" multiple name="images" id="images" value="images"> {% endcomment %}

                </div>
            </div>

        {%else%}
        <div class="col-md-9 container position-relative ">
            <img src="{%static 'profile/img/Rectangle 96.png' %}" class="w-100">
            <img src="{%static 'profile/img/Ellipse 21.png' %}" class="img-pro">
            <button class="btn btn-outline-dark button-pro"><i class="fa-solid fa-camera p-2"></i>Change Cover</button>
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">

                        <input type="text" class="form-control iput-1" id="f-name" name="name">
                        <label class="label-1" for="f-name"><i class="fa-regular fa-user p-2"></i>Name</label>
                        <i class="fa-regular fa-pen-to-square icon-edit"></i>

                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="m-name" name="specialist">
                        <label class="label-1" for="m-name"><i class="fa-solid fa-user-doctor p-2"></i>  specialist</label>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="lname" name="location">
                        <label class="label-1" for="lname"><i class="fa-solid fa-location-dot p-2"></i> location</label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 col-sm-12 int-1  ">
                    <div class="d-flex justify-content-center position-relative">

                        <input type="number" class="form-control iput-1" id="Mobile Number" name="price">
                        <label class="label-1" for="Mobile Number"><i class="fa-solid fa-dollar-sign p-2"></i>  price</label>
                        <i class="fa-regular fa-pen-to-square icon-edit"></i>

                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="number" class="form-control iput-1" id="address" name="years_of_experience">
                        <label class="label-1" for="address"><i class="fa-solid fa-stethoscope p-2"></i>  years_of_experience</label>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 int-1">
                    <div class="d-flex justify-content-center position-relative">
                        <input type="text" class="form-control iput-1" id="gender" name="gender">
                        <label class="label-1" for="gender"><i class="fa-solid fa-venus-mars p-2"></i>gender</label>
                    </div>
                </div>
            </div>

            <div class="row  container ms-2 div-mar">
                <div class="photo-box  col-md-1 col-sm-0 m-0 me-0 ms-0 border-text position-relative">
                    <div class="i-about">
                        <i class="fa-solid fa-circle-exclamation"> About </i>
                    </div>
                    <div class="form-floating p-3">
                        <textarea class="form-control border-0 text-muted" placeholder="Leave a comment here" name="about" id="floatingTextarea2"  style="height: 220px"> PHD and Consultant of Oral and Dental Surgery higly specialized in full mouth rehabilitation and reconstruction with over 35 years of experience besides her passion in becoming an artist and drawing the prettiest smiles on her patients faces making her one of the elite dental care providers not only in egypt but in the middle east  </textarea>
                    </div>


                </div>
                <div class="about-box col-md-1 col-sm-0 m-0  ms-0 border-img position-relative">
                    <div class="d-flex">
                        <div class="i-about">
                            <i class="fa-solid fa-image"> Photo </i>
                        </div>
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img rounded-2">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2">
                    </div>
                    <div class="d-flex">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img rounded-2 mt-4">
                        <img src="{%static 'profile/img/Rectangle 82.png' %}" class="add-img  rounded-2 mt-4">
                        <div src="{%static 'profile/img/Rectangle 82.png' %}" class="add-plus  rounded-2 mt-4 d-flex justify-content-center align-items-center">
                            <button class="button-img"><i class="fa-solid fa-plus"></i></button>

                        </div>

                    </div>

        </div>

                 <div class="d-flex justify-content-end m-5">
            <input type="submit" name="save" class="btn w-25 mt-5 button-1" value="save" name="" id="">

        </div>

           {% comment %} <input type="file" multiple name="images" id="images" value="images"> {% endcomment %}

                </div>
            </div>
            {%endif%}



    </div>
    <footer>
        <div class="footer container">
            <div class="left-foot">
                <div class="logo_cont logo-foot">
                    <a href="Home.html">
                        <div class="logo logos-foot"></div>
                    </a>
                    <div class="logoh1">
                        {%if rs%}
                        <h1><a href="{%url 'patientlogin:home' rs%}"> Med</a></h1>
                        <h2><a href="{%url 'patientlogin:home' rs%}">care</a></h2>
                        {%else%}
                        <h1><a href="{%url 'Home:Home' %}"> Med</a></h1>
                        <h2><a href="{%url 'Home:Home' %}">care</a></h2>
                        {%endif%}
                    </div>
                </div>
                <p>This text is an example of text that can <br> be replaced in the same space, this
                </p>
                <div class="contact-us">
                    <h1>contact us</h1>
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></a></i>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-whatsapp"></a></i>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-twitter"></a></i>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-github"></a></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mid-foot">
                <ul class="foot-links">
                    {%if rs%}
                    <li><a href="{%url 'patientlogin:home' rs%}">Home</a></li>
                    <li><a href="{% url 'patientlogin:cards' rs %}">Specialities</a></li>
                    <li><a href="{%url 'ai:consult' rs%}">Consultation</a></li>
                    {%else%}
                    <li><a href="{%url 'Home:Home'%}"> Home</a></li>
                    <li><a href="{%url 'patientlogin:cardsUnRe'%}">Specialities</a></li>
                    <li><a href="{%url 'ai:consultUN' %}">Consultation</a></li>
                    {%endif%}
                    
                    {% if rs %}
                    <li><a href="{%url 'reception:reception' rs%}">Profile</a></li>
                    <li><a href="{%url 'news:newsRE' rs%} ">News</a></li>
                    {%else%}
                    <li><a href="{%url 'news:news'%}">News</a></li>
                    {%endif%}
                    <li><a href="#">Hospital</a></li>
                </ul>
            </div>
            <div class="right-foot">
                <h1>Download The App Now</h1>
                <div class="down-foot">
                    <div class="qr-codes"></div>
                    <div class="download-cards">
                        <div class="googleplay-card downcard">
                            <div class="left-img-downcard">
                                <img src="{% static 'Home/imgs/svgexport-6 (21) 1.png'%}" alt=""></div>
                            <div class="right-text-downcard">
                                <p>Get it on</p>
                                <h1>google play</h1>
                            </div>
                        </div>
                        <div class="apple-card downcard">
                            <div class="left-img-downcard">
                                <img src="{% static 'Home/imgs/svgexport-6 (24) 1.png'%}" alt=""></div>
                            <div class="right-text-downcard">
                                <p>downlaod on the</p>
                                <h1>app store</h1>
                            </div>
                        </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <h3> 2022 medcare all rights reserved</h3>
        </div>
    </footer>
  </form>
</body>

</html>