ubody {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    color: var(--color3);
}

body>h1 {
    font-weight: 400;
    font-size: 84px;
    color: var(--color3);
    margin: 0 auto;
    text-transform: capitalize;
}

::selection {
    color: var(--color3);
    background: var(--color1);
}

:root {
    --color1: #75F2DA;
    --color2: #19BFFD;
    --color3: #00507C;
    --main-transition: 0.4s;
    --main-gradient: linear-gradient(98.56deg, #75F2DA 0%, #0AAFFF 127.71%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

hr {
    background-color: var(--color3);
    /* height: 13px; */
}

.container {
    padding: 0 8%;
    width: 100%;
}

header {
    display: flex;
    flex-basis: 3;
    height: 12%;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    /* position: fixed; */
    z-index: 99;
    background-color: #F5F5F5;
    border-bottom: var(--color3) 1px solid;
    top: 0px;
    /* justify-content: space-between; */
}

.proflink a i {
    color: var(--color3);
}

.proflink {
    margin-left: 280px !important;
    font-size: 28px;
}

.logo_cont {
    display: flex;
    /* flex: 1; */
    flex-wrap: nowrap;
    align-items: center;
    align-self: flex-end;
    margin-right: 200px;
}

.logo {
    width: 54.83px;
    height: 61.5px;
    display: flex;
}

.logoh1 {
    display: flex;
    align-items: center;
}

.logoh1 h1 a {
    color: #0AAFFF;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
}

.logoh1 h1 span a {
    color: #38D7B8;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
}

.headlinks ul {
    color: var(--color3);
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 3px;
}

.headlinkss {
    align-self: center;
    justify-self: center;
}

.headlinks ul li a {
    color: var(--color3);
    transition: .3s;
    position: relative;
    font-weight: 400;
    font-size: 24px
}

.activated {
    color: var(--color2);
    font-weight: 400;
    font-size: 24px;
    position: relative;
    margin-top: 3.5px;
    transition: 0.5s;
    transform: translate(-19px, 0px);
}

.activated::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 14px;
    height: 2px;
    left: 6%;
    width: 90%;
    background-color: var(--color1);
}

.headlinks ul li a::after {
    content: '';
    background-color: var(--color1);
    position: absolute;
    display: block;
    bottom: -3px;
    height: 2px;
    left: 50%;
    width: 0%;
    transition: .3s;
}

.activated {
    font-weight: 700;
    font-size: 28px
}

.headlinks ul li a:hover:after {
    width: 100%;
    left: 0;
}

.headlinks ul li a:hover {
    color: var(--color2);
}


/* profile
.hr1 {
    width: 90%;
    margin: 0 auto;
} */

.headlinkss ul {
    color: var(--color3);
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 3px;
}

.headlinkss ul li a {
    color: var(--color3);
    transition: .3s;
    position: relative;
    font-weight: 400;
    font-size: 24px
}

.activatedd {
    color: var(--color2);
    font-weight: 400;
    font-size: 24px;
    position: relative;
    margin-top: 3.5px;
    transition: 0.5s;
    transform: translate(-19px, 0px);
}

.activatedd::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 14px;
    height: 2px;
    left: 6%;
    width: 90%;
    background-color: var(--color1);
}

.headlinkss ul li a::after {
    content: '';
    background-color: var(--color1);
    position: absolute;
    display: block;
    bottom: -3px;
    height: 2px;
    left: 50%;
    width: 0%;
    transition: .3s;
}

.activatedd {
    font-weight: 700;
    font-size: 28px
}

.headlinkss ul li a:hover:after {
    width: 100%;
    left: 0;
}

.headlinkss ul li a:hover {
    color: var(--color2);
}


/* end */

.btns-head {
    display: flex;
    margin-left: 123px;
    gap: 24px;
    transition: 0.3s;
}

.btn {
    width: 184px;
    height: 65px;
    border: 1px solid var(--color3);
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
    text-transform: capitalize;
    color: var(--color3);
}

.btn:hover {
    background-color: var(--color2);
    cursor: pointer;
}


/* .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--main-gradient);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    opacity: 0;
    transition: var(--main-transition);
}

.btn:hover::before {
    width: 12px;
    color: #00507C;
    z-index: 0;
    animation: left-move 0.3s ease-in forwards;
} */


/* ----------------------------------------------------end of header------------------------------------------------------------------------------------------ */

.banner {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.left-banner {
    width: 40%;
    height: 100%;
}

.ban-text {
    position: relative;
    top: 228px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-banner .ban-text h2 {
    color: var(--color3);
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.02em;
}

.left-banner .ban-text h1 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.02em;
    color: var(--color3);
    line-height: 60px;
}

.ban-btn {
    border: 3px solid var(--color3);
    width: 300.06px;
    height: 106px;
    animation-name: fadein;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
    animation-timing-function: ease-out;
    opacity: 0;
}

.btn h4 {
    font-weight: 600 !important;
    font-size: 24px !important;
    text-transform: capitalize;
    color: var(--color3);
}

.carousel-item {
    right: 0px;
    bottom: 0px;
}

.right-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
}

.carousel {
    position: absolute;
    bottom: 0px;
    right: -10%;
}

.slider-frame {
    position: relative;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0px;
}

.ban-btn {
    margin-top: 120px;
}


/* ---------------------------------------------end of banner----------____________-------------------------------------------------------------------------------------------------- */

.specialities-back {
    width: 100vw;
    height: 1527px;
    background: linear-gradient(123.36deg, rgba(117, 242, 218, 0.6) 0%, rgba(25, 191, 253, 0.6) 100%);
}

.spec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spec h1 {
    font-weight: 400;
    font-size: 84px;
    color: var(--color3);
    margin: 0 auto;
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    gap: 9px;
}

.cards-sec {
    /* background-color: red; */
    margin-top: 50px;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    align-content: space-between
}

.centring-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.cards {
    width: 20%;
    height: 40%;
    background: #FFFFFF;
    border: 3px solid var(--color3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
}

.text-icon p {
    font-weight: 300;
    font-size: 40px;
    color: var(--color3);
}

.cards::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(142.83deg, rgba(117, 242, 218, 0.7) 2.99%, rgba(62, 192, 240, 0.7) 98.39%);
    opacity: 0;
}

.cards:hover::before {
    /* width: 0px; */
    z-index: 1;
    animation: left-move1 0.15s ease-in both;
    cursor: pointer;
}


/* -----------------------------about us----------------------------------------------------------------------------------------------------------- */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-weight: 400;
    font-size: 96px;
    color: var(--color3);
    text-transform: capitalize;
}

.downabout {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.downabout .left-about {
    width: 45%;
}

.downabout .left-about h3 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.06em;
    color: var(--color3);
}

.downabout .left-about p {
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: var(--color3);
}

.right-about {
    background: url(./imgs/Group\ 6938.png);
    width: 65%;
    height: 679px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.states {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.state {
    width: 390px;
    height: 364.69px;
    border: 3px solid var(--color3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-state p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 40px;
    color: var(--color3);
}

.text-state h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--color3);
}

.text-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how-to {
    display: flex;
    justify-content: center;
    width: 100vw;
}


/* ---------------------------------phone-download-cards--------------------------------------------------------------- */

.phone-download {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    /* gap: 20vw; */
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(123.36deg, rgba(117, 242, 218, 0.6) 0%, rgba(25, 191, 253, 0.6) 100%);
}

.right-phone-pics {
    width: 49vw;
    height: 102%;
    /* flex: 1; */
}

.left-phone {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-phone p {
    font-weight: 400;
    font-size: 32px;
    color: var(--color3);
}

.text-phone h1 {
    font-weight: 600;
    font-size: 54px;
    color: var(--color3);
    /* width: 780px; */
}

.down-download-cards {
    margin-top: 122px;
}

.download-cards {
    /* background-color: red; */
    height: 86.27px;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.downcard {
    background: #FFFFFF;
    border: 1px solid var(--color3);
    border-radius: 12px;
    width: 150%;
    flex-grow: 1;
    height: 86.27px;
    display: flex;
    transition: .7s;
}

.downcard:hover {
    background-color: var(--color2);
    cursor: pointer;
}

.down-download-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}

.qr-code {
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-image: url(./imgs/Frame.png);
    /* overflow: visible; */
    width: 206px;
    height: 206px;
}

.left-img-downcard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.right-text-downcard {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 60%;
}

.right-text-downcard p {
    margin-left: 8px;
}

.right-text-downcard h1 {
    font-weight: 400;
    font-size: 1.5em;
}

.swaper {
    height: 40vh;
    /* test */
    width: 100vw;
}


/* -----------------------------------------------------------------------end of download cards-------------------------------------------------------------------------------------------------------- */


/* ///////////////////////////////////////// start footer///////////////////////////////////////////////////////////////////////// */

footer {
    position: relative;
    bottom: 0px;
    background: var(--main-gradient);
    width: 100vw;
    height: 50vh;
    /* flex-basis: 100%; */
}

.footer {
    display: flex;
}

.left-foot p {
    color: var(--color3);
    font-weight: 400;
    font-size: 24px;
}

.logo-foot .logoh1 h1 a,
.logo-foot .logoh1 h2 a {
    color: var(--color3);
    font-size: 64px;
}

.logoo {
    margin-right: 20px;
}

.logoo img {
    width: 133%;
    height: 100%;
}

.logos-foot {
    width: 80px !important;
}

ul {
    list-style: none;
    display: contents;
}

.contact-us {
    margin-top: 3rem;
}

.contact-us h1 {
    color: var(--color3);
    font-weight: 500;
    font-size: 36px;
}

.contact-us ul {
    display: flex;
    gap: 2rem;
    transform: translate(-55px, 10px);
}

.fa-brands {
    font-size: 48px;
    color: var(--color3);
    transition: var(--main-transition);
}

.fa-brands:hover {
    color: var(--color2);
}

.foot-links {
    /* display: flex; */
    width: 30vw;
    margin-left: 6rem;
    height: 100%;
    flex-wrap: wrap;
}

.foot-links li a {
    color: var(--color3);
    font-weight: 400;
    font-size: 24px;
    padding: auto;
    text-transform: capitalize;
    transition: 0.3s;
}

.foot-links li a:hover {
    color: var(--color2);
}

.foot-links li {
    list-style: circle;
    flex-grow: 1;
    width: fit-content;
    margin: 1rem;
}

.right-foot {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(263px, 10px);
}

.right-foot h2 {
    color: var(--color3);
    flex-grow: 2;
    margin-bottom: 2vh;
    transform: translate(71px, 10px);
    padding: 17px;
}

.right-foot h1 {
    color: var(--color3);
    flex-grow: 2;
    margin-bottom: 2vh;
}

.right-foot .download-cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mid-foot {
    transform: translate(127px, 28px);
}

.down-foot {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.qr-codes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./imgs/Frame.png);
    width: 138px;
    height: 138px;
    transform: translate(11px, 27px);
}

.copy-right {
    border-top: var(--color3) 1px solid;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    transform: translate(0px, 33px);
    color: var(--color3);
}

.btnnn {
    display: flex;
}

.btnnn h1 {
    color: var(--color3);
    transform: translate(371px, -18px);
    text-transform: capitalize;
}

.butt {
    width: 184px;
    height: 65px;
    border: 1px solid #00507C;
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    text-transform: capitalize;
    transform: translate(219%, -24%);
}

.butt :nth-child(1) {
    z-index: 2;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
}

.butt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-3);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    opacity: 0;
}

.butt:hover::before {
    animation: left-move 0.2s ease-in both;
}

.butt:hover {
    background-color: var(--color2);
    cursor: pointer;
    color: var(--color3);
}


/* -------------------------------------------end footer------------------------------------------------------------------ */