.section-1 {
    height: 100vh;
}

.sec-color {
    background: linear-gradient(166.49deg, #19BFFD 0.81%, #75F2DA 101.14%);
    border-radius: 0px 28px 28px 0px;
}

.text-color {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 19px;
    line-height: 24px;
    text-transform: capitalize;
    color: #00507C;
}

.wi1 {
    width: 100px;
    height: 100px;
}

.icon-1 {
    color: #00507C;
    font-size: 19px;
}

.link-1 {
    text-decoration: none;
    width: 67px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    font-size: 19px;
    line-height: 24px;
    text-transform: capitalize;
    color: #00507C;
}

.int-1 {
    margin-top: 130px;
    margin-right: 12px;
}

.int-2 {
    margin-top: 85px;
    margin-right: 12px;
}

.main {
    margin: 111px 0 20px 0;
}

.main-border {
    border-style: solid;
    border-width: 3px;
    border-radius: 18px;
    border-color: #00507C;
    position: relative;
}

.button-1 {
    border-color: #00507C;
    color: #00507C;
    font-size: 20px;
}

.button-1:hover {
    background-color: #19BFFD;
    color: white;
}

.iput-1 {
    width: 300px;
    height: 55px;
    border: 1px solid #00507C;
    border-radius: 16px;
}

.icon-plus {
    position: absolute;
    top: 20px;
    right: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: #00507C;
    padding: 7px;
    align-items: center;
}

.icon-3 {
    font-size: 37px;
    font-weight: lighter;
    color: #00507C;
}

.iput-1:focus~label {
    top: -30px;
    left: 15px;
    transition: 0.5s;
    font-size: 22px;
}

.label-1 {
    position: absolute;
    top: -24px;
    left: 15px;
    transition: 0.5s;
    font-size: 17px;
    color: #00507C;
    /* background-color: white; */
    padding-right: 10px;
}

.icon-edit {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    color: #00507C;
}