body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
    overflow-x: hidden;
    color: var(--color3);
}

::selection {
    color: var(--color3);
    background: var(--color1);
}

:root {
    --color1: #75F2DA;
    --color2: #19BFFD;
    --color3: #00507C;
    --main-transition: 0.4s;
    --main-gradient: linear-gradient(98.56deg, #75F2DA 0%, #0AAFFF 127.71%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header.containerr {
    padding: 0 12%;
    width: 100%;
}

p {
    font-weight: 400;
    font-size: 28px;
    color: var(--color3);
}

.flex {
    display: flex;
    align-items: center;
    gap: 9px;
}

.h2 {
    text-transform: capitalize;
    font-size: 150% !important;
}


/*  */


/* -----------------------------------------------------------annimation------------------------------------------------------------------------- */

@keyframes left-move {
    100% {
        border-radius: 0;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        opacity: 1;
    }
}

@keyframes left-move1 {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 22px;
        opacity: 1;
    }
}


/* -----------------------------------------------------------end annimation------------------------------------------------------------------------- */


/* -----------------------------------------------------------header------------------------------------------------------------------------- */

::selection {
    color: var(--color3);
    background: var(--color1);
}

:root {
    --color1: #75F2DA;
    --color2: #19BFFD;
    --color3: #00507C;
    --main-transition: 0.4s;
    --main-gradient: linear-gradient(98.56deg, #75F2DA 0%, #0AAFFF 127.71%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

hr {
    background-color: var(--color3);
    /* height: 13px; */
}

.container {
    padding: 0 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-basis: 3;
    height: 12%;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    position: fixed;
    z-index: 99;
    background-color: #F5F5F5;
    border-bottom: var(--color3) 1px solid;
    justify-content: space-between !important;
    top: 0px;
}

.logo_cont {
    display: flex;
    /* flex: 0; */
    align-items: center;
    flex-wrap: nowrap;
}

.proflink a i {
    color: var(--color3);
}

.proflink {
    margin-left: 280px !important;
    font-size: 28px;
}

.logo {
    width: 54.83px;
    height: 61.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./imgs/6\ 2[Converted]\ 1.png);
}

.loogo {
    width: 54.83px;
    height: 61.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./imgs/6\ 2[Converted]\ 1.png);
    transform: translate(-11px, -16px);
}

.logoh1 {
    display: flex;
    align-items: center;
}

.logoh1 :nth-child(1) a,
.logoh1 :nth-child(2) a {
    font-size: 2.4em;
    font-weight: 600;
}

.logoh1 :nth-child(2) a {
    color: #38D7B8;
    font-size: 2.4 em;
}

.logoh1 :nth-child(1) a {
    color: #0AAFFF;
    font-size: 2.4em;
}

.headlinks ul {
    color: var(--color3);
    list-style: none;
    display: flex;
    gap: 30px;
    /* transform: translate(40px, 14px); */
}

.headlinks ul li a p {
    text-transform: capitalize;
}

.headlinks ul li a {
    color: var(--color3);
    transition: .3s;
    position: relative;
    font-weight: 400;
    font-size: 24px;
}

.activated {
    color: var(--color2);
    font-weight: 400;
    font-size: 24px;
    position: relative;
}

.activated::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -3px;
    height: 2px;
    /* left: 50%; */
    width: 100%;
    background-color: var(--color1);
}

.headlinks ul li a::after {
    content: '';
    background-color: var(--color1);
    position: absolute;
    display: block;
    bottom: -3px;
    height: 2px;
    left: 50%;
    width: 0%;
    transition: .3s;
}

.activated {
    font-weight: 700;
    font-size: 28px
}

.headlinks ul li a:hover:after {
    width: 100%;
    left: 0;
}

.headlinks ul li a:hover {
    color: var(--color2);
}


/* 
.hr1 {
    width: 90%;
    margin: 0 auto;
} */

.btns-head {
    display: flex;
    gap: 24px;
    transition: 0.3s;
}

.btn {
    width: 184px;
    height: 65px;
    border: 1px solid var(--color3);
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
    text-transform: capitalize;
    color: var(--color3);
}

.btn:hover {
    background-color: var(--color2);
    cursor: pointer;
}


/* .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--main-gradient);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    opacity: 0;
    transition: var(--main-transition);
}

.btn:hover::before {
    width: 12px;
    color: #00507C;
    z-index: 0;
    animation: left-move 0.3s ease-in forwards;
} */


/* -----------------------------------------------------------end of header------------------------------------------------------------------------- */


/* ----------------------------------------------------------banner------------------------------------------------------------------------------ */

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 51vh;
    background-image: url(./imgs/banner.png);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 8px;
    margin-top: 6%;
}

.profile-img {
    position: absolute;
    left: 4%;
    bottom: -30%;
    background-color: #F5F5F5;
    border-radius: 50%;
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    border-radius: 50%;
}

.banner>h2 {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 96px;
    color: var(--color3);
    width: 60%;
    height: 214px;
    margin-top: -10%;
    margin-left: 5%;
    text-transform: capitalize;
}

.profile-img p {
    position: absolute;
    top: 267px;
    left: 347px;
    width: 580px;
}

.profile-img h2 {
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    color: var(--color3);
    top: 210px;
    left: 347px;
    width: 580px;
}

.attreputes {
    position: absolute;
    right: 3%;
    top: 66%;
    display: flex;
    gap: 23px;
}

.att {
    border: 1px solid var(--color3);
    border-radius: 47px;
    width: fit-content;
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color3);
    text-transform: capitalize;
    height: 59.27px;
    justify-content: center;
}


/*  --------------------------------------------------------- end of banner---------------------------------------------------------------------------------------*/


/*  --------------------------------------------------------- clinic session---------------------------------------------------------------------------------------*/

.clinic {
    margin: 2% 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10%;
    justify-content: space-evenly;
}

.clinic-imgs {
    width: 40%;
    height: 100%;
}

.booking-session {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.calenderr {
    width: 100% !important;
}

.clinic-img {
    display: flex;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    gap: 3%;
    margin: 20px 0;
}

.img {
    width: 46%;
    height: calc(94%/3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    background-image: url(./imgs/img1.png);
}

.rev {
    display: flex;
    /* gap: 30%; */
    justify-content: space-between;
}

.Reviews {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


/*  --------------------------------------------------------- end of clinic session---------------------------------------------------------------------------------------*/


/*  --------------------------------------------------------- footer---------------------------------------------------------------------------------------*/

footer {
    position: relative;
    bottom: 0px;
    background: var(--main-gradient);
    width: 100vw;
    height: 50vh;
    padding: 2vh 0;
    /* flex-basis: 100%; */
}

.footer {
    display: flex;
}

.left-foot p {
    color: var(--color3);
    font-weight: 400;
    font-size: 24px;
}

.logo-foot .logoh1 h1 a,
.logo-foot .logoh1 h2 a {
    color: var(--color3);
    font-size: 64px;
}

.logos-foot {
    width: 80px !important;
}

ul {
    list-style: none;
}

.contact-us {
    margin-top: 3rem;
}

.contact-us h1 {
    color: var(--color3);
    font-weight: 500;
    font-size: 36px;
}

.contact-us ul {
    display: flex;
    gap: 2rem;
}

.fa-brands {
    font-size: 48px;
    color: var(--color3);
    transition: var(--main-transition);
}

.fa-brands:hover {
    color: var(--color2);
}

.foot-links {
    /* display: flex; */
    width: 30vw;
    margin-left: 6rem;
    height: 100%;
    flex-wrap: wrap;
}

.foot-links li a {
    color: var(--color3);
    font-weight: 400;
    font-size: 24px;
    padding: auto;
    text-transform: capitalize;
}

.foot-links li {
    list-style: circle;
    flex-grow: 1;
    width: fit-content;
    margin: 1rem;
}

.right-foot {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-foot h1 {
    color: var(--color3);
    flex-grow: 2;
    margin-bottom: 2vh;
}

.right-foot .download-cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.down-foot {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.qr-codes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./imgs/Frame.png);
    width: 138px;
    height: 138px;
}

.copy-right {
    /* width: 100vw; */
    border: #00507C 1px solid;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1px;
}

.down-download-cards {
    margin-top: 122px;
}

.download-cards {
    /* background-color: red; */
    height: 86.27px;
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.downcard {
    background: #FFFFFF;
    border: 1px solid #00507C;
    border-radius: 12px;
    width: 150%;
    flex-grow: 1;
    height: 86.27px;
    display: flex;
    transition: .7s;
}

.downcard:hover {
    background-color: var(--color2);
    cursor: pointer;
}

.down-download-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}

.left-img-downcard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.right-text-downcard {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 60%;
}

.right-text-downcard p {
    margin-left: 8px;
    margin-top: 18px;
    font-size: 28px;
}

.right-text-downcard h1 {
    font-weight: 400;
    font-size: 2em;
}


/*  --------------------------------------------------------- end of footer---------------------------------------------------------------------------------------*/


/*  --------------------------------------------------------- details---------------------------------------------------------------------------------------*/

.details-dr {
    margin-top: 20vh;
    display: flex;
    width: 96%;
    justify-content: space-between;
    align-items: center;
}

.about {
    width: 50%;
    height: 50%;
}

.about>h2 {
    font-weight: 600;
    font-size: 36px;
    color: var(--color3);
}

iframe {
    border-radius: 17px;
    border: 1px solid var(--color3);
}


/*  --------------------------------------------------------- end of details---------------------------------------------------------------------------------------*/